---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
          bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
          from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Hugo Perez-Vigo
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hola! Este es mi blog, donde escribo sobre cosas que me interesan.
      Tecnologia, ciberseguridad, desarrollo web y algun que otro rato de reflexion.
    </p>
  </div>
</section>
