---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_LANG } from "../config";
---

<!DOCTYPE html>
<html class="theme-bubblegum" lang={SITE_LANG}>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
<ClientRouter />
  </head>

  <body
    class="max-w-3xl mx-auto min-h-screen px-6 sm:px-8"
  >
    <Header />
    <main id="main" transition:animate="fade">
      <slot name="main" />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: auto minmax(0, 1fr) auto;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
      }
    </style>
  </body>
</html>
